<% layout("layouts/boilerplate") -%>
<body>
     
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create New Listing</h3>
            <form method="POST" action="/listings"  class="needs-validation" novalidate>
                <!-- title div -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input 
                    name="listing[title]" 
                    type="text" 
                    class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div> 
                </div>
                
                <!-- Description div -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <!-- <textarea 
                    name="listing[description]" 
                    class="form-control" 
                    required>
                    </textarea> -->
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                
                <!-- image div -->
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input 
                    name="listing[image]" 
                    type="text" 
                    class="form-control" >
                </div>

                <div class="row">
                    <!-- price div -->
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input 
                        name="listing[price]"  
                        class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <!-- location div --> 
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input 
                        name="listing[location]" 
                        type="text" 
                        class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                </div>
                
                <!-- country div -->
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input 
                    name="listing[country]" 
                    type="text" 
                    class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Add Listing!</button><br><br>
            </form>
        </div>
    </div>
    
</body>
